/* .dropdown {
    display: flex;
    align-items: left;
    justify-content: left;
    transition: filter 300ms;
    color: rgb(255, 255, 255); 
    font-size: 20px;
    height: 10%;
    padding: 9px; 
    margin: 10px;
    background-color: rgb(174, 152, 174); 
    border: 2px outset rgba(80, 63, 80, 0.25); 
    border-radius: 12px;
}
.dropdown:hover {
    filter: brightness(1.2);
}
    
.dropdown-item {
    position: absolute;
    top: 6%;
    width: 10%;
    transform: translate(-18%, 23%);
    overflow: hidden;
    color: rgb(255, 255, 255); 
    font-size: 16px;
    background-color: rgb(174, 152, 174); 
    border: 2px outset rgba(80, 63, 80, 0.25); 
    border-radius: 12px;
} */

.search_categories{
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  
  .search_categories .select{
    width: 120%;
    background:url('./img/arrow.png') no-repeat;
    background-position:80% center;
  }
  
  .search_categories .select select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
  }