.navbar {
    /* max-width: 1903px; */
    width: 100%;
    position: relative;
}

@media (max-width: 958px) {
    .navbar{
        max-width: 958px;
    }
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}