.signup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.signup-title {
    color: white;
    font-size: 40px; 
    line-height: 17px; 
    padding: 15px; 
    border-radius: 13px; 
    background-image: linear-gradient(to right, rgb(45, 42, 60) 0%, rgb(106, 99, 142) 50%, rgb(45, 42, 60) 100%); 
    box-shadow: rgba(0, 0, 0, 0.88) 5px 5px 15px 5px; 
    border: 3px outset rgba(80, 63, 80, 0.25);     
}

.signup-form {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 17px; 
    line-height: 17px; 
    padding: 20px; 
    border-radius: 13px; 
    background-image: linear-gradient(to right, rgb(45, 42, 60) 0%, rgb(106, 99, 142) 50%, rgb(45, 42, 60) 100%); 
    box-shadow: rgba(0, 0, 0, 0.88) 5px 5px 15px 5px; 
    border: 3px outset rgba(80, 63, 80, 0.25);   
    align-items: center;  
}
.signup-form input {
    color: rgb(255, 255, 255); 
    font-size: 15px; 
    line-height: 19px; 
    padding: 9px; 
    border-radius: 1px; 
    margin: 10px;
    background-color: rgb(174, 152, 174); 
    border: 2px outset rgba(80, 63, 80, 0.25); 
    border-radius: 12px;
}

.login-page {
    text-decoration: none;
    color: rgb(255, 255, 255); 
    font-size: 15px; 
    line-height: 19px; 
    padding: 9px; 
    border-radius: 1px; 
    margin: 10px;
    background-color: rgb(174, 152, 174); 
    border: 2px outset rgba(80, 63, 80, 0.25); 
    border-radius: 12px;
}